.header {
    display: flex;
    align-items: center;
    padding: 15px 50px;
    background-color: #576f35; 
    color: white;
    width: 100%;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.nav {
    display: flex;
    gap: 15px;
    margin-left: auto; 
    margin-right: 118px;
}

.nav a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 1px solid white; 
    border-radius: 12px;
    letter-spacing:  0%;
    gap: 10px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding-top: 14px;

}


.shop-btn {
    background-color: #7A3145 !important; 
    border: none !important; 
    color: white;
    padding-right: 32px !important;
    padding-left: 32px !important;
    padding-bottom: 16px !important;
    padding-top: 16px !important; 
    border-radius: 30px !important; 
    letter-spacing: 0,03em;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}

.shop-btn:hover  {
    background-color: transparent !important;
    color: #7A3145 !important;
}
.nav a:hover {
    background-color: #f8f8f8 !important;
    color: #7A3145 !important;
}
